.idea
.DS_Store
tmp
node_modules
examples/**/dist
boilerplate/dist
*.log
yarn.lock

boilerplates/MobileDemo/ios/build
boilerplates/MobileDemo/ios/bundle
boilerplates/MobileDemo/android/bundle
boilerplates/MobileDemo/android/.gradle
boilerplates/MobileDemo/android/app/build
boilerplates/MobileDemo/android/build
boilerplates/MobileDemo/android/local.properties
boilerplates/MobileDemo/android/app/src/main/assets
boilerplates/MobileDemo/android/app/src/main/res/drawable*
xcuserdata
