{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "antd",
      {
        "libraryName": "antd-mobile"
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
